* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
.h2 {
    border: solid 20px;
}
.cor{
    background-color: rgb(105, 105, 105);
    color: rgb(0, 0, 0);
}
.cor {
    border:none px;
    border-radius: 0px;
    border-color:rgb(255, 255, 255);
}
